services:
  api:
    build:
      context: .
      dockerfile: ./services/api/Dockerfile
    {% if container_runtime == "docker" %}user: "1000:1000"{% endif %}
    env_file:
      - .env
    volumes:
      - ./volumes/game_data:/game_data{% if container_runtime  == "podman" %}:z{% endif %}

  nginx:
    build:
      context: .
      dockerfile: ./services/nginx/Dockerfile
    ports:
      - 8080:8080
    volumes:
      - ./volumes/game:/usr/share/nginx/html{% if container_runtime  == "podman" %}:z{% endif %}
    depends_on:
      - api

volumes:
  game_data:
  game:
